# Gradle
.gradle
build

# Kotlin Gradle plugin
# https://kotlinlang.org/docs/gradle-configure-project.html#kotlin-gradle-plugin-data-in-a-project
.kotlin

# IntelliJ
*.iml
.idea
out

# ANTLR
*.tokens

# Alloy2B
*.prob
alloy4.2.jar
